*{
    padding:  0;
    margin: 0;
    
}
h1 {
        text-align: center;
    
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }

  .form button {
    border-radius: 50px;  
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }
 
  table th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: rgb(44, 34, 34)  
     
  }

  #carrito{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    color: rgb(44, 34, 34) 
    
   
}

tbody tr td{
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  size: 40px;
  color: rebeccapurple; 
}

.funcionalidades {
  display: flex;
  justify-content: center;
}

.funcionalidades .mostrarEventos{
  
    border-radius: 50px;
    margin-top: 15px;
    padding: 0.5em 1em;
    border: none;
    background: rgb(91, 214, 34);
    cursor: pointer;
}